@tailwind base;
@tailwind components;
@tailwind utilities;


/*zoloogin ehlev css*/
#item-image{
    border-radius: 30px;
    height: 350px;
    width: 350px;
}

#largeimage{
    width: 600px;
    height: 600px;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#order{
    width: 500px;
    height: 50px;
}

.cart-enter {
  transform: translateX(500px);
}

.cart-enter-active {
  transform: translateX(0);
  transition: transform 500ms ease-in-out;
}

.cart-leave {
  transform: translateX(0);
}

.cart-leave-active {
  transform: translateX(500px);
  transition: transform 300ms ease-in-out;
}

/*zoloogin duusav css*/